<!DOCTYPE html>
<html>
<head>
  <title>My C.V</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//css-tricks.com/styling-underlines-web/">
<style>
body {
  margin-left: 25%;
}

/* Style the header */
.header {
  background-image: url("web-design-background.png");
  background-size: contain;
    background-repeat: no-repeat;
}
</style>
</head>
<body>

<!--Body div-->
<div class="header">
  <h1><strong><span class="underline"> Lucky Thabang Mokoena</span></strong></h1>
  <h2><strong><span class="underline">Software Developer Trainee</span></strong></h2>
   <img src="assets/images/106_21244.jpg" height="250px" >

   <!--Left Column Div-->   
  <div class="block">
      <div class="PERSONAL">
          <h3><i><ins>PROFILE.</ins></i></h3>
      </div>
    <ul style="list-style-type:none">
        <li>I am a career driven person who is always looking forward to learn new thing to inhence my skills. A hard working person who is not affraid to out-source or seek help to do a givin task. </li>
    </ul>
      
    <div class="PERSONAL">
        <h3><i><ins>CONTACT DETAILS.</ins></i></h3>
    </div>
    
    <ul style="list-style-type:none">
      
       <li>Address<span class = "infor2">1332B Monamaladi Street Naledi</span></li>
       <li>Contact Details<span class = "infor3">(011)931 0357/082 398 6500</span></li>
       <li>E-mail Address<span class = "infor4">luckythabang@gmail.com</span></li>  
     </ul> 
     
     <div class="Qulification">
        <h3><i><ins>QULIFICATIONS.</ins></i></h3>
     </div>
     
     <ul style = "list-style-type:circle">
       <li>Certificate in Information Technology and Computer Sciences Level 4, From 2014 to 2016.</li>
       <li>Cisco I.T Essentials Certificate, for a duration of 6 Months. From February to July 2017.</li>   
      </ul>
     <div class="Work">
        <h3><i><ins>WORK EXPERIENCE.</ins></i></h3>
     </div> 
     
     <ul style = "list-style-type:none">
       <li>Worked at Studio 88 as a casulty.</li>
       <li>Duties was to barcode products, products distribution and stock management. From 10 January 2011 to 07 December 2013.</li>
     </ul> 
  </div>

<!--Right column Div-->
    <div id="container">
      <div class="Skills">
        <h3><I><ins>SKILLS.</ins></I></h3>  
      </div>
     
      <UL style ="list-style: none">
        <LI>Programming using visual basic 2008.</LI>
        <li>Html creating using notepad++.</li>
        <li>Creating Multimedia products using photoshop.</li>
        <li>Building and upgrading of desktops.</li>
        <li>Repairing of laptops.</li>
        <li>Create Html using Visual Studio.</li>
      </UL>

      <div class="Refe">
          <h3><i><ins>REFERENCE.</ins></i></h3>
      </div>
      <ul style="list-style: none">
        <li>Name<span class = "lucky">Mr Fanteni</span></li>
        <li>Relationship<span class="lucky2">Lecture</span></li>
        <li>Contact Details<span class="lucky3">082 55 3229</span></li>
      </ul>

      <ul style="list-style: none">
          <li><i>Name<span class = "lucky">Mr Diphare</span></i></li>
          <li><i>Relationship<span class="lucky2">H.O.D  of  I.C.T at SWGC</span></i></li>
          <li><i>Contact Details<span class="lucky3">(011)141 5000</span></i></li>
        </ul>
        <div class="Refe">
            <h3><i><ins>Social.</ins></i></h3>
        </div>
        <div class="Linkedin">
          <img scr="assets/images/Linkedin-icon.png">
        </div>
        <ul style="list-style: none">
          <li>
            <a href="https://www.linkedin.com/in/thabang-lucky-mokoena-192019164/"> <i class="fa fa-linkedin fa-2x"></i>....Linkedin </a>
          </li>
        </ul>
       

    </div> 
    
<!--Footer-->
    <div class="footer">
       <p>!</p>
      <small><i class="fa fa-copyright">Always looking forward to learning new things.</i></small>
    </div>
</div>
</body>
</html>